<!-- Footer Mobile -->

<footer id="footerMobile" class="footer-area footer-mobile d-lg-none d-xl-none">

    <div class="container">
        <div class="row">
          <div class="col-12 col-lg-3">
            <div class="single-footer">
              <div class="pro-socials">
                  <h5>
                    Free Shipping
                    <br><br>
                    2 years warranty
                  </h5>
                  <ul>
                    <li class="text-right">
                      <h2 class="footer-product-price">{{productPrice | currency}}</h2>
                      <h6 class="sub-title">Need financing? Learn more</h6>
                    </li>
                    <li>
                      <button type="button" class="btn btn-primary btn-rounded">Buy now</button>
                    </li>
                  </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </footer>

    <div class="mobile-overlay"></div>
