<app-page-loader></app-page-loader>
<app-header-one></app-header-one>
<app-header-mobile></app-header-mobile>

<section class="pro-content product-content">
    <div class="container">
      <div class="product-detail-info">
        <div class="row">
          <div class="col-12 col-sm-12">
            <div class="row">
              <div class="col-12 col-md-6">
                  <div class="slider-wrapper">
                    <ngx-slick-carousel #slickModal="slick-carousel" [config]="slideProductConfig" (init)="slickInit($event)" class="carousel feedback slider-for" >
                      <a href="#" ngxSlickItem class="slide slider-for__item fancybox-button"  *ngFor="let image_gallerys of product.images; let ind=index" (click)="open(ind)">
                          <img [src]="image_gallerys.image">
                      </a>
                    </ngx-slick-carousel>

                    <ngx-slick-carousel #slickModal="slick-carousel" [config]="slideProductNavConfig" (init)="slickInit($event)" class="carousel thumbs">
                      <div ngxSlickItem class="slide slider-nav__item pointer" *ngFor="let image_gallerys of product.images;">
                          <img [src]="image_gallerys.image"/>
                      </div>
                    </ngx-slick-carousel>
                  </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="row">
                  <div class="col-12 col-md-12">
                    <div class="badges">
                      <div class="red">{{'NEW RELEASE' | translate}}</div>
                    </div>
                    <h1 class="pro-title">{{product.products_name | translate}}</h1>
                    <p class="sub-title">{{product.products_subname | translate}}</p>

                    <br>
                    <h6 class="sub-title">{{'STARTING AT' | translate}}</h6>
                    <div class="pro-price">
                        <ins>{{product.products_price | currency}}</ins>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-md-12">
                    <div class="nav nav-pills" role="tablist">
                        <a class="nav-link nav-item active" href="#overview" id="overview-tab" data-toggle="pill" role="tab">{{'Overview' | translate}}</a>
                        <a class="nav-link nav-item" href="#features" id="features-tab" data-toggle="pill" role="tab" >{{'Features' | translate}}</a>
                        <a class="nav-link nav-item" href="#whatsInTheBox" id="whats-in-box-tab" data-toggle="pill" role="tab" >{{"What's in the box?" | translate}}</a>
                    </div>
                    <div class="tab-content">
                      <div role="tabpanel" class="tab-pane fade active show" id="overview" aria-labelledby="overview-tab">
                        <span class="sub-title">{{product.products_overview}}</span>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="features" aria-labelledby="features-tab">
                        <table class="table table-striped table-borderless">
                          <tbody>
                            <tr>
                                <th scope="row">Brand Name:</th>
                                <td>{{product.products_brand}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Material:</th>
                                <td>{{product.products_material}}</td>
                            </tr>
                            <tr>
                                <th scope="row">Battery duration:</th>
                                <td>{{product.products_battery}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Style:</th>
                              <td>{{product.products_style}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <div role="tabpanel" class="tab-pane fade " id="whatsInTheBox" aria-labelledby="whats-in-box-tab">
                        <div class="reviews">
                            <div class="review-bubbles">
                                <h2>
                                    Customer Reviews
                                </h2>
                                <div class="review-bubble-single">
                                    <div class="review-bubble-bg">
                                        <div class="pro-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half-alt"></i>
                                        </div>
                                        <h4>Good</h4>
                                        <span>Sep 20, 2019</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                                    </div>
                                </div>
                                <div class="review-bubble-single">
                                    <div class="review-bubble-bg">
                                        <div class="pro-rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star-half-alt"></i>
                                        </div>
                                        <h4>NICE WORK!!!</h4>
                                        <span>Sep 20, 2019</span>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-5">
          <div class="col-12 col-sm-12">
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="row">
                  <div class="col-12 col-md-4">
                    <div class="row justify-content-center">
                      <p class="text-center">
                        <img class="mini-features" src="assets/images/gallery/preview/mini-feature_01.png">
                        <br/>
                        Customizable Touch Controls
                      </p>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="row justify-content-center">
                      <p class="text-center">
                        <img class="mini-features" src="assets/images/gallery/preview/mini-feature_02.png">
                        <br/>
                        Built-in Equalizer
                      </p>
                    </div>
                  </div>
                  <div class="col-12 col-md-4">
                    <div class="row justify-content-center">
                      <p class="text-center">
                        <img class="mini-features" src="assets/images/gallery/preview/mini-feature_03.png">
                        <br/>
                        Active Noise Cancellation
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-12 col-md-6">
                <div class="row">
                  <div class="col-12 col-md-12">
                    <div class="tab-content">
                      <div role="tabpanel" class="tab-pane fade active show " id="whatsInTheBox" aria-labelledby="whats-in-box-tab">
                        <div class="reviews">
                          <div class="review-bubbles">
                            <h2>Choose your finish.</h2>
                            <div class="col-12 col-md-6 float-left">
                              <div class="review-bubble-single pointer btn-rounded active">
                                <div class="review-bubble-bg">
                                  <h6>Ivory White</h6>
                                  <p class="sub-title">For the past 75 years, Sennheiser has put sound first. The new MOMENTUM True.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-12 col-md-6 float-left">
                              <div class="review-bubble-single pointer btn-rounded">
                                <div class="review-bubble-bg">
                                  <h6>Matte Black</h6>
                                  <p class="sub-title">Of all the celestial bodies that captue our attention and fascination as astronomers.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-md-12">
                    <div class="tab-content">
                      <div role="tabpanel" class="tab-pane fade active show " id="whatsInTheBox" aria-labelledby="whats-in-box-tab">
                        <div class="reviews">
                          <div class="review-bubbles">
                            <h2>Would you like to add exended warranty coverage?.</h2>
                            <div class="col-12 col-md-12">
                              <div class="review-bubble-single pointer btn-rounded">
                                <div class="review-bubble-bg">
                                  <h6>2 years coverage</h6>
                                  <p class="sub-title">For the past 75 years, Sennheiser has put sound first.</p>
                                </div>
                              </div>
                            </div>
                            <div class="col-12 col-md-12">
                              <div class="review-bubble-single pointer btn-rounded">
                                <div class="review-bubble-bg">
                                  <h6>3 years coverage</h6>
                                  <p class="sub-title">For the past 75 years, Sennheiser has put sound first.</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-md-12">
                    <div class="tab-content">
                      <div role="tabpanel" class="tab-pane fade active show " id="whatsInTheBox" aria-labelledby="whats-in-box-tab">
                        <div class="reviews">
                          <div class="review-bubbles">
                            <h2>Features.</h2>
                            <div class="col-12 col-md-12">
                              <div class="review-bubble-single pointer btn-rounded">
                                <div class="review-bubble-bg">
                                  <h6>Voice Assistant support</h6>
                                </div>
                              </div>
                            </div>
                            <div class="col-12 col-md-12">
                              <div class="review-bubble-single pointer btn-rounded">
                                <div class="review-bubble-bg">
                                  <h6>Customizable controls</h6>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-12 col-md-12">
                    <div class="tab-content">
                      <div role="tabpanel" class="tab-pane fade active show " id="whatsInTheBox" aria-labelledby="whats-in-box-tab">
                        <div class="reviews">
                          <div class="review-bubbles">
                            <h2>Specifications.</h2>
                            <div class="col-12 col-md-12">
                              <table class="table table-borderless">
                                <tbody>
                                  <tr *ngFor="let item of product.specifications">
                                    <th scope="row">{{item.key}}</th>
                                    <td class="text-right">{{item.value}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<app-footer-mobile [productPrice]="product.products_price"></app-footer-mobile>
<app-footer-three [productPrice]="product.products_price"></app-footer-three>

<app-back-to-top></app-back-to-top>
