 <!-- //footer style three -->
 <footer id="footerThree" class="footer-area footer-three footer-desktop d-none d-lg-block d-xl-block">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-4">
          <div class="single-footer">
            <div class="pro-about">
                <h5>{{'Free Shipping' | translate}}</h5>
                <ul class="pl-0 mb-0">
                  <li>
                    <span class="sub-title">Get 2-day free shipping anywhere in North America.</span>
                  </li>
                </ul>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-footer">
            <h5>{{'2 years warranty' | translate}}</h5>
            <ul class="pl-0 mb-0">
              <li>
                <span class="sub-title">If anything goes wrong in the first two year, we'll replace it for free</span>
              </li>
            </ul>
          </div>
        </div>

        <div class="col-12 col-md-6 col-lg-4">
          <div class="single-footer">
            <div class="text-right col-12 col-md-7 float-left p-0">
              <h2 class="footer-product-price">{{productPrice | currency}}</h2>
              <ul class="pl-0 mb-0">
                <li>
                  <a class="sub-title" href="#">Need financing? Learn more</a>
                </li>
              </ul>
            </div>
            <div class="col-12 col-md-5 float-left m-0">
              <button type="button" class="btn btn-primary btn-rounded">Buy now</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</footer>
