<!-- //Mobile Header -->
<header id="headerMobile" class="header-area header-one header-mobile">
  <div class="header-maxi bg-header-bar ">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12">
            <app-logo></app-logo>
        </div>
      </div>
    </div>
  </div>
</header>
