<!-- //Header Style One -->
<header id="headerOne" class="header-area header-one header-desktop">
  <div class="header-maxi bg-header-bar">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-2">
          <app-logo></app-logo>
        </div>
      </div>
    </div>
  </div>
</header>
